/*Inicio estilos fondo y header*/
body {
  background-color: black;
  margin: 5px;
}
header {
  width: 100%;
  overflow: hidden;
  background: #5b7989;
  margin-bottom: 0px;
  font-family: "Dancing Script";
  border-radius: 10px 10px 0px 0px;
}
header nav a {
  font-family: "Dancing Script";
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
header li {
  float: right;
  display: inline;
  margin-right: 20px;
  margin-bottom: 20px;
}

header nav .active a {
  text-decoration: none !important;
}
 header div h1 {
  color: white;
  text-shadow: 2px 2px #02010a;
  margin-left: 20px;
  margin-top: 50px;
  font-size: 30px;
}
/*Final estilos fondo y header*/

/*Inicio estilos imagen central*/
section .central {
  background: #82c3a6;
}
/*Final estilos imagen central*/
/*inicio sombras fotos*/
#sombra {
  float: left;
  padding: 0 2px 2px 0;
}
#sombra img {
  display: block;
  position: relative;
  top: -3px;
  left: -3px;
  padding: 5px;
  border: 2px solid;
  border-color: #CCCCCC #02010a #02010a #CCCCCC;
}
/* final sombras fotos*/

/*Inicio estilos imagen secundaria*/
.galeria {
  background: #d5c75f;
   padding: .50vw;
   font-size: 0;
   -ms-flex-wrap: wrap;
   -ms-flex-direction: column;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   display: -webkit-box;
   display: flex;
   display: -ms-flexbox; /*IE 10*/
}
.galeria div {
   -webkit-box-flex: auto;
   -ms-flex: auto;
   flex: auto;
   width: 200px;
   margin: .5vw;
}
.galeria div img {
   width: 100%;
   height: auto;
   padding-top: 20px;
   padding-bottom: 20px;
   box-shadow: 2px 2px #82c3a6;
}

#paisaje {
  -webkit-transition: -webkit-transform 2s ease-out;
 -moz-transition: -moz-transform 2s ease-out;
 transition: transform 2s ease-out;
}
#paisaje:hover {
  -webkit-transform: rotate(10deg);
 -moz-transform: rotate(10deg);
 transform: rotate(10deg);
}
#retratos:hover {
  -webkit-transform: translate(5px, -20px);
 -moz-transform: translate(5px, -20px);
 transform: translate(5px, -20px);
}
/*Final estilos imagen secundaria*/

/*Inicio estilos galeria principal paisajes.html*/
.galeriaprincipal {
  background: #d5c75f;
   padding: .50vw;
   font-size: 0;
   -ms-flex-wrap: wrap;
   -ms-flex-direction: column;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   display: -webkit-box;
   display: flex;
   display: -ms-flexbox; /*IE 10*/
}
.galeriaprincipal div {
   -webkit-box-flex: auto;
   -ms-flex: auto;
   flex: auto;
   width: 400px;
   margin: .5vw;
}
.galeriaprincipal div img {
   width: 100%;
   height: auto;
   padding-top: 20px;
   padding-bottom: 20px;
}
/*Inicio estilos galeria principal paisajes.html*/
#foto1 {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  float: left;
  padding: 0 2px 2px 0;
}
#foto1 img {
  display: block;
  position: relative;
  top: -3px;
  left: -3px;
  padding: 5px;
  border: 2px solid;
  border-color: #CCCCCC #02010a #02010a #CCCCCC;
}
#foto2 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  float: left;
  padding: 0 2px 2px 0;
}
#foto2 img {
  display: block;
  position: relative;
  top: -3px;
  left: -3px;
  padding: 5px;
  border: 2px solid;
  border-color: #CCCCCC #02010a #02010a #CCCCCC;
}
#foto3 {
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
  float: left;
  padding: 0 2px 2px 0;
}
#foto3 img {
  display: block;
  position: relative;
  top: -3px;
  left: -3px;
  padding: 5px;
  border: 2px solid;
  border-color: #CCCCCC #02010a #02010a #CCCCCC;
}
#foto4 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  float: left;
  padding: 0 2px 2px 0;
}
#foto4 img {
  display: block;
  position: relative;
  top: -3px;
  left: -3px;
  padding: 5px;
  border: 2px solid;
  border-color: #CCCCCC #02010a #02010a #CCCCCC;
}
#foto5 {
  float: left;
  padding: 0 2px 2px 0;
}
#foto5 img {
  display: block;
  position: relative;
  top: -3px;
  left: -3px;
  padding: 5px;
  border: 2px solid;
  border-color: #CCCCCC #02010a #02010a #CCCCCC;
}
#foto6 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  float: left;
  padding: 0 2px 2px 0;
}
#foto6 img {
  display: block;
  position: relative;
  top: -3px;
  left: -3px;
  padding: 5px;
  border: 2px solid;
  border-color: #CCCCCC #02010a #02010a #CCCCCC;
}
/*Final estilos galeria principal paisajes.html*/


.footer {
  display: flex;
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  margin-top: 0px;
  font-family: "Dancing Script";

}
.footer ul img {
  width: 10%;
}
#contactos {
  margin: 20px;
  width: 300px;
}
#terminos {
  margin: 20px;
  width: 300px;
}
#redes-sociales {
  margin: 20px;
  width: 300px;
}
#derechos {
  margin: 20px;
  width: 300px;
}
#redes-sociales li p{
  font-family: "Dancing Script";
  color: black;
  text-decoration: none;
}
